
body {
	background-color: #566573;
}
th {
	font-size: 20px;
	text-align: center;
	background-color: ##F7DC6F;
}
.panel-heading, h4 {
	font-size: 30px;
	text-align: center;
	background-color: #58D68D !important;
}
td {

	text-align: center;
}
label {
	font-size: 16px;
}
.jumbotron, #submitButton {
	background-color: #FCF3CF;
}
button {
	font-size: 20px !important;
	text-align: center !important;
}
button:hover {
	background-color: #e5d9e0 !important;
	text-transform: uppercase;
}